absl-py==2.1.0
acme==4.1.1
altgraph==0.17.4
amqp==5.2.0
annotated-types==0.7.0
ansible==8.6.1
ansible-core==2.15.6
anytree==2.12.1
appdirs==1.4.4
APScheduler==3.9.1
apturl==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
astroid==3.3.10
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.3
attrs==24.3.0
Authlib==1.3.2
azure-common==1.1.28
azure-core==1.35.0
azure-identity==1.23.1
azure-mgmt-core==1.6.0
azure-mgmt-dns==9.0.0
backcall==0.2.0
bandit==1.7.9
bcrypt==4.2.1
beautifulsoup4==4.11.1
behave==1.2.6
behave-django==1.4.0
beniget==0.4.1
billiard==4.2.1
bleach==5.0.1
blinker==1.4
bookbook==0.2
boto3==1.35.7
botocore==1.35.52
Brlapi==0.8.3
Brotli==1.0.9
build==0.10.0
CacheControl==0.12.11
cachetools==5.5.0
cairocffi==1.2.0
celery==5.4.0
certbot==2.11.0
certbot-dns-azure==2.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.4.0
cheat==2.5.1
chex==0.1.86
chrome-gnome-shell==0.0.0
cleo==2.0.1
cliapp==1.20180812.1
click==8.1.3
click-completion==0.5.2
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cmdtest==0.32+git
colorama==0.4.4
command-not-found==0.3
ConfigArgParse==1.7.1
configobj==5.0.9
coverage==7.6.1
crashtest==0.4.1
crayons==0.4.0
cron-descriptor==1.4.5
cryptography==44.0.0
cssselect==1.2.0
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.18
debugpy==1.5.1
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
dill==0.3.9
distlib==0.3.6
distro==1.7.0
distro-info===1.1build1
Django==5.1.5
django-appconf==1.0.6
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-compressor==4.5.1
django-cors-headers==4.6.0
django-debug-toolbar==5.0.1
django-extensions==3.2.3
django-filter==24.2
django-prometheus==2.3.1
django-redis==5.4.0
django-storages==1.14.4
django-strawberry-jwt @ git+https://gitlab.ssys.com.br/ssys/factory/django-strawberry-jwt.git@0c77b8a1887f2fd93579b340a12565166ccca0a6
django-timezone-field==7.0
django-tree-queries==0.19.0
django-unfold==0.54.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
dnspython==2.7.0
docopt==0.6.2
dodgy==0.2.1
dparse==0.6.4
dulwich==0.21.3
duplicity==0.8.21
entrypoints==0.4
epcpy==0.1.7
etils==1.7.0
evdev==1.4.0
exceptiongroup==1.2.2
executing==0.9.1
factory-boy==3.3.0
Faker==30.8.1
fasteners==0.14.1
fastjsonschema==2.16.1
filelock==3.16.1
firebase-admin==6.5.0
flake8==7.1.1
flake8-polyfill==1.0.2
Flask==2.1.3
flatbuffers==24.3.25
flax==0.8.2
flower==2.0.1
fonttools==4.36.0
fs==2.4.12
fsspec==2024.3.1
future==0.18.2
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.31
google-api-core==2.22.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.19.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
graphql-core==3.2.6
graphviz==0.20.1
grpcio==1.67.1
grpcio-status==1.67.1
h5py==3.10.0
hiredis==3.0.0
html5lib==1.1
httplib2==0.20.2
humanize==4.11.0
idna==3.10
importlib-metadata==6.0.0
importlib_resources==6.4.0
iniconfig==2.0.0
input-remapper==2.0.0
installer==0.6.0
ipaddr==2.2.0
ipykernel==6.15.1
ipython==8.31.0
ipython-genutils==0.2.0
isodate==0.7.2
isort==5.13.2
itsdangerous==2.1.2
jaraco.classes==3.2.3
jax==0.4.26
jaxlib==0.4.26
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.1.2
jmespath==1.0.1
josepy==2.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyterlab-pygments==0.2.2
kafka-python==2.0.2
keras==3.2.0
keyring==23.13.1
kiwisolver==1.4.4
kombu==5.4.2
language-selector==0.1
lark==1.1.9
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==1.10.0
libclang==18.1.1
lockfile==0.12.2
louis==3.20.0
lxml==4.9.1
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.23.0
matplotlib==3.5.3
matplotlib-inline==0.1.3
mccabe==0.7.0
mdurl==0.1.2
meld==3.20.4
mistune==0.8.4
ml-dtypes==0.3.2
mock==5.1.0
model-bakery==1.19.3
monotonic==1.6
more-itertools==8.10.0
mpmath==0.0.0
msal==1.32.3
msal-extensions==1.3.1
msgpack==1.0.4
mypy==1.14.1
mypy_extensions==1.1.0
namex==0.0.7
nbclient==0.6.6
nbconvert==6.5.3
nbformat==5.4.0
nest-asyncio==1.5.5
netifaces==0.11.0
notebook==6.4.12
numpy==1.23.4
oauthlib==3.2.0
olefile==0.46
opt-einsum==3.3.0
optax==0.2.2
optree==0.11.0
orbax-checkpoint==0.5.9
packaging==24.2
pandas==1.4.3
pandocfilters==1.5.0
paramiko==3.5.0
parse==1.20.2
parse_type==0.6.4
parsedatetime==2.6
parso==0.8.3
pbr==6.1.0
pep8==1.7.1
pep8-naming==0.10.0
pexpect==4.8.0
phonenumbers==8.13.40
pickleshare==0.7.5
pika==1.3.2
pillow==10.4.0
pkginfo==1.9.6
platformdirs==2.6.2
pluggy==1.5.0
ply==3.11
poetry==1.4.0
poetry-core==1.5.1
poetry-plugin-export==1.3.0
prometheus-client==0.14.1
prompt-toolkit==3.0.43
prospector==1.14.0
proto-plus==1.25.0
protobuf==5.28.3
psutil==6.1.1
psycopg2==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.20.1
pycodestyle==2.12.1
pycparser==2.22
pycpfcnpj==1.8
pycryptodomex==3.11.0
pycups==2.0.1
pycycle==0.0.8
pydantic==2.9.2
pydantic_core==2.23.4
pydbus==0.6.0
pydocstyle==6.3.0
pyflakes==3.2.0
pygame==2.4.0
Pygments==2.17.2
PyGObject==3.42.1
PyICU==2.8.1
pyinotify==0.9.6
PyInquirer==1.0.3
pyinstaller==5.8.0
pyinstaller-hooks-contrib==2024.6
PyJWT==2.10.1
pylint==3.3.4
pylint-celery==0.3
pylint-django==2.6.1
pylint-flask==0.6
pylint-plugin-utils==0.8.2
pymacaroons==0.13.0
pymongo==4.12.0
PyMySQL==1.0.2
PyNaCl==1.5.0
pyOpenSSL==25.1.0
pyparsing==2.4.7
pyproject_hooks==1.0.0
pyRFC3339==1.1
pyrsistent==0.18.1
pytest==8.3.3
python-apt==2.4.0+ubuntu1
python-crontab==3.2.0
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
python-dotenv==0.19.2
python-hcl2==4.3.0
python-Levenshtein==0.12.2
python-magic==0.4.24
python-taint==0.42
python-uinput==0.11.2
pythran==0.10.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyxattr==0.7.2
pyxdg==0.27
PyYAML==6.0
pyzmq==23.2.0
rabbitmq_client==0.0.2
rapidfuzz==2.13.7
rcssmin==1.1.2
redis==5.2.1
referencing==0.35.1
regex==2023.12.25
reportlab==3.6.8
requests==2.32.3
requests-toolbelt==0.10.1
requirements-detector==1.3.2
resolvelib==1.0.1
rich==13.7.1
rjsmin==1.2.2
rpds-py==0.22.3
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
s3transfer==0.10.3
safety==3.2.14
safety-schemas==0.0.10
scipy==1.13.0
scour==0.38.2
seaborn==0.13.0
SecretStorage==3.3.1
semver==3.0.2
Send2Trash==1.8.0
setoptconf-tmp==0.3.1
setproctitle==1.2.2
shellingham==1.5.0.post1
six==1.17.0
smmap==5.0.1
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
splinter==0.21.0
sqlparse==0.4.4
ssh-import-id==5.11
stack-data==0.3.0
stevedore==5.3.0
strawberry-graphql==0.268.0
strawberry-graphql-django==0.55.0
sympy==1.9
systemd-python==234
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.36.0
tensorflow_decision_forests==1.9.0
tensorflowjs==4.17.0
tensorstore==0.1.56
termcolor==2.0.1
terminado==0.15.0
tf_keras==2.16.0
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
toolz==0.12.1
tornado==6.2
tqdm==4.65.0
traitlets==5.14.3
trove-classifiers==2023.2.20
ttystatus==0.38
typer==0.12.5
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==4.2
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
ulauncher==5.15.1
unattended-upgrades==0.1
unicodedata2==14.0.0
uritemplate==4.1.1
urllib3==2.2.3
usb-creator==0.3.7
vboxapi==1.0
vine==5.1.0
virtualenv==20.20.0
wadllib==1.3.6
watchdog==4.0.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
websockets==15.0.1
Werkzeug==2.2.0
whitenoise==6.7.0
wrapt==1.16.0
wurlitzer==3.0.3
xcffib==0.11.1
xdg==5
xkit==0.0.0
youtube-dl==2021.12.17
zipp==1.0.0
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.1.0
zope.interface==5.4.0
